/* 
SPACING SYSTEM (PX)

2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (PX)

3.052rem/48.83px
2.441rem/39.06px
1.953rem/31.25px
1.563rem/25.00px
1.25rem/20.00px
1rem/16.00px
0.8rem/12.80px
0.64rem/10.24px
0.512rem/8.19px

MAIN COLOR: #1971c2
LIGHTER: #228be6
GREY COLOR: #343a40
LIGHT GREY: #868e96

*/

/* RESETS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

img {
  width: 100%;
  max-width: fit-content;
}

/* 3.052rem/48.83px
2.441rem/39.06px
1.953rem/31.25px
1.563rem/25.00px */

/* 24 / 32 / 48 */
h1 {
  margin-bottom: 48px;
  font-size: 48.83px;
  letter-spacing: -0.5px;
  line-height: 1.1;
}

/* 3.052rem/48.83px
2.441rem/39.06px
1.953rem/31.25px
1.563rem/25.00px */
h2 {
  font-size: 31.25px;
}

/* 32 / 48 / 64 / 80 / 96 / 128 */
.features h2 {
  margin-bottom: 80px;
}

p {
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: 0.5px;
}

.hero-text p {
  margin-bottom: 48px;
}

button {
  padding: 6px 12px;
}

.hero-text button {
  margin-bottom: 48px;
}

/* 12/16/ 24 / 32 / 48 */
.features-card .features-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.features-card p {
  margin-bottom: 64px;
  font-size: 16px;
}



/* HEADER LAYOUT */

nav {
  display: none;
}

@media (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  nav {
    display:unset;
  }

}


header a:link,
header a:visited {
  text-decoration: none;
  color: #343a40;
}

header a:hover,
header a:active {
  color: #343a40:
}

.features-icon {
  width: 36px;
  height: 36px;
  stroke: #1971c2;
  /* 12 / 16 / 24  */
  margin-bottom: 16px;
}


/* NAVIGATION */

nav li {
  list-style: none;
  display: inline-block;
  padding: 6px 12px;
  text-transform: uppercase;
}

nav ul {
  display: flex;
}

.logo {
  width: 200px;
}

/* 48 / 64 / 80 / 96 / 128 */
header {
margin-bottom: 64px;
}

.hero {
  margin-bottom: 128px;
}

.hero img {
  border-radius: 15px;
}

/* HERO  */
@media (min-width: 600px) {
  
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }

}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

/* FEATURES */
@media (min-width: 600px) {
  .features-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 80px;
  }
}

.features {
  margin-bottom: 128px;
}

/* REVIEWS */

.reviews h2 {
  margin-bottom: 80px;
}

.stars-icon {
  width: 24px;
  height: 24px;
  stroke: #1971c2;
}

.stars-filled {
  fill: #1971c2;
}

.review-stars {
  margin-bottom: 16px;
}

.review-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
}

.review-text {
  font-size: 12.8px;
  font-weight: unset;
  margin-bottom: 12px;
}

.review-name {
  font-size: 12.8px;
  font-weight: 700;
  margin-bottom: 12px;
}

.review-date {
  font-size: 12.8px;
  color: #868e96;
}

.review {

  padding: 20px;
  box-shadow: 0 20px 30px 0 rgb(0 0 0 / 7%);
  border-radius: 12px;
}

/*  16 / 24 / 32 / 48 / 64 / 80 */
.review {
  margin-bottom: 80px;
  width: 200px;
}

/* @media (min-width: 600px) { */
  .reviews-4-columns{
    display: flex;
    column-gap: 80px;
    flex: 0 0 auto;
    flex-wrap: wrap;
  }
/* } */

.reviews {
  margin-bottom: 128px;
}




/* PROFILE CARDS */

.profile-card-pic {
  width: 200px;
  height: 200px;
}

.profile-card-name {
  font-size: 20px;
  font-weight: 700;
}

.profile-cards h2 {
  margin-bottom: 80px;
}

.profile-cards img {
  margin-bottom: 16px;
}

.profile-card-name {
  margin-bottom: 16px;
}

/* 24 / 32 / 48 /  64 / 80  */
.profile-card {
  margin-bottom: 64px;
}

@media (min-width: 600px)  {
  .profile-cards-container {
    display: flex;
    column-gap: 80px;
  }
}

.profile-cards {
  margin-bottom: 64px;
}

/* FAQ - SECTION */

/* 80/64/48 */
.faq h2 {
  margin-bottom: 48px;
}

/* 16 / 24 / 32 / 48 / 64 */
.faq p {
  font-size: 16px;
  margin-bottom: 48px;
}

/* ACCORDION ELEMENT */

*:focus {
	outline: none;
}

.accordion {
	width: 100%;
	max-width: 600px;
	/* margin-top: 5rem; */
	margin-bottom: 48px;
}


.accordion details div {
	border-left: 2px solid #343a40;
	border-right: 2px solid #343a40;
	border-bottom: 2px solid #343a40;
	padding: 1.5em;
}

.accordion details div > * + * {
	margin-top: 1.5em;
}

.accordion details + details {
	margin-top: .5rem;
}

.accordion summary {
	list-style: none;
}

.accordion summary::-webkit-details-marker {
	display: none;
}

.accordion summary {
	border: 2px solid #343a40;
	padding: .75em 1em;
	cursor: pointer;
	position: relative;
	padding-left: calc(1.75rem + .75rem + .75rem);
}

.accordion summary:before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: .75rem;
	content: "↓";
	width: 1.75rem;
	height: 1.75rem;
	background-color: #343a40;
	color: #FFF;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.accordion details[open] summary {
	background-color: #eee;
}

.accordion details[open] summary:before {
	content: "↑";
}

.accordion summary:hover {
	background-color: #eee;
}

.accordion a {
	color: inherit;
	font-weight: 600;
	text-decoration: none;
	box-shadow: 0 1px 0 0;
}

.accordion a:hover {
	box-shadow: 0 3px 0 0;
}

.accordion code {
	font-family: monospace;
	font-weight: 600;
}


.faq {
  margin-bottom: 80px;
}

/* FOOTER */

.icon-footer-contact {
  width: 16px;
  height: 16px;
  stroke: #343a40;
}

.flex-phone, .flex-email {
  display: flex;
  column-gap: 20px;
}

/* SPACING SYSTEM (PX)

2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

.tagline-footer,
.contact-footer,
.bericht-footer
 {
  margin-bottom: 24px;
}

.logo--footer {
  margin: 8px;
}

.phone-footer,
.email-footer {
  margin-bottom: 8px;
  font-size: 12px;
}

.logo--footer {
  margin-left: 0;
  width: 140px;

}

.tagline-footer {
  font-size: 12px;
}

.contact-footer,
.bericht-footer {
  font-size: 16px;
  font-weight: 700;
}

.footer-container-left p, 
.footer-container-right p,
.footer-container-right li
 {
  font-size: 12px;
}

.footer-container-right li {
  list-style: none;
}

.footer-container-right ul {
  display: flex;
  column-gap: 15px;
}

@media (min-width: 600px) {
  .footer-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
  }

  .footer-upper {
    display: grid;
    grid-template-columns: 1fr 1fr 300px;
    column-gap: 100px;
  }

}

.footer-upper {
  margin-bottom: 80px;
}

/* FORM FOOTER */


.nieuwsbrief-tagline-footer {
  font-size: 12px;
  margin-bottom: 24px;
}

.form-input, 
.button {
  font-family: inherit;
  font-size: 12px;
  border: 0;
}

.form-input {
  padding: 5px 10px;
  border: 1px solid #343a40 ;
  width: 200px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.form-input::placeholder {
  color: #343a40;
}

.form-button {
  background-color: #868e9652;
  padding: 5px 10px;
  border-radius: 8px;
  border: 0;
  font-weight: 700;
  
}

.footer-right-col {
  display: flex;
  flex-direction: column;
}


/* 48 / 64 / 80 / 96 / */
.footer-upper {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

@media (min-width: 600px) {
  .footer-upper {
    display: flex;
    flex-direction: row;
  }
}


/* GENERAL STYLING */

/* GROTE EN KLEINE BUTTON */
.hero-text button,
.features-button,
.reviews button,
.profile-card-btn,
.faq button {
  color: #fff;
  background-color: #1971c2;
  font-size: 16px;
  font-weight: 500px;
  padding: 16px 32px;
  text-transform: uppercase;
  border-radius: 100px;
  border: 0;
}

/* KLEINE BUTTON */
.reviews button,
.profile-card-btn,
.faq button,
.features-button {
  font-size: 12px;
  padding: 12px 24px;
}

